<!DOCTYPE html>
<html>
<title>Basque FX</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static',filename='css/w3.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/loginstyle.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=UnifrakturCook:700">
<link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Playball">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
</style>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="{{url_for('static',filename='pictures/Bull.jpg')}}" style="width:100%" class="w3-circle">
  <a href="{{ url_for('home') }}#" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-id-card w3-xxlarge"></i>
    <p>LOGIN</p>
  </a>
  <a href="{{ url_for('daily') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-thermometer-three-quarters w3-xxlarge"></i>
    <p>DAILY INPUT</p>
  </a>
  <a href="{{ url_for('entry') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-address-card-o w3-xxlarge"></i>
    <p>BLOG INPUT</p>
  </a>
  <a href="{{ url_for('bias') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-address-card-o w3-xxlarge"></i>
    <p>BIAS INPUT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
    <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PHOTOS</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo" style="font-family: 'Playball', cursive;"><span class="w3-hide-small" ></span> Basque FX</h1>
    <p style="font-family: 'Playball', cursive;">A Forex Forecasting Journal</p>

  </header>

<div>
{%block content%}
{%endblock%}
</div>

<!-- END PAGE CONTENT -->
</div>

</body>
</html>
