{%  extends "tools.html" %}
{% block forexcalendar %}
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>date</th>
      <th>Currency</th>
      <th>Event</th>
      <th>Impact</th>
      <th>Time_Eastern</th>
      <th>Actual</th>
      <th>Forecast</th>
      <th>Previous</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2017-05-05 09:19:52.317808</td>
      <td>CAD</td>
      <td>Employment Change</td>
      <td>High</td>
      <td>8:30am</td>
      <td>3.2K</td>
      <td>20.0K</td>
      <td>19.4K</td>
    </tr>
    <tr>
      <td>2017-05-05 09:19:52.320309</td>
      <td>CAD</td>
      <td>Unemployment Rate</td>
      <td>High</td>
      <td></td>
      <td>6.5%</td>
      <td>6.7%</td>
      <td>6.7%</td>
    </tr>
    <tr>
      <td>2017-05-05 09:19:52.322311</td>
      <td>USD</td>
      <td>Average Hourly Earnings m/m</td>
      <td>High</td>
      <td></td>
      <td>0.3%</td>
      <td>0.3%</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>2017-05-05 09:19:52.324813</td>
      <td>USD</td>
      <td>Non-Farm Employment Change</td>
      <td>High</td>
      <td></td>
      <td>211K</td>
      <td>194K</td>
      <td>79K</td>
    </tr>
    <tr>
      <td>2017-05-05 09:19:52.327316</td>
      <td>USD</td>
      <td>Unemployment Rate</td>
      <td>High</td>
      <td></td>
      <td>4.4%</td>
      <td>4.6%</td>
      <td>4.5%</td>
    </tr>
    <tr>
      <td>2017-05-05 09:19:52.333820</td>
      <td>USD</td>
      <td>Fed Chair Yellen Speaks</td>
      <td>High</td>
      <td>1:30pm</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
 {%endblock%}