{%  extends "tools.html" %}
{% block forexcalendar %}
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Currency</th>
      <th>Event</th>
      <th>Impact</th>
      <th>Time_Eastern</th>
      <th>Actual</th>
      <th>Forecast</th>
      <th>Previous</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>GBP</td>
      <td>Services PMI</td>
      <td>High</td>
      <td>4:30am</td>
      <td>55.8</td>
      <td>54.6</td>
      <td>55.0</td>
    </tr>
    <tr>
      <td>CAD</td>
      <td>Trade Balance</td>
      <td>High</td>
      <td>8:30am</td>
      <td>-0.1B</td>
      <td>0.3B</td>
      <td>-1.1B</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>Unemployment Claims</td>
      <td>High</td>
      <td></td>
      <td>238K</td>
      <td>246K</td>
      <td>257K</td>
    </tr>
    <tr>
      <td>EUR</td>
      <td>ECB President Draghi Speaks</td>
      <td>High</td>
      <td>12:30pm</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>CAD</td>
      <td>BOC Gov Poloz Speaks</td>
      <td>High</td>
      <td>4:25pm</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>AUD</td>
      <td>RBA Monetary Policy Statement</td>
      <td>High</td>
      <td>9:30pm</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>NZD</td>
      <td>Inflation Expectations q/q</td>
      <td>High</td>
      <td>11:00pm</td>
      <td></td>
      <td></td>
      <td>1.9%</td>
    </tr>
  </tbody>
</table>
 {%endblock%}