{% extends "base.html" %}
{% block content %}

<div class="w3-content w3-justify w3-text-grey w3-padding-36">
  <img src="{{url_for('static',filename='pictures/Burgos.jpg')}}" alt="boy" class="w3-image w3-container w3-padding-32 w3-center w3-black" width="992" height="1108">
</div>
<!-- About Section -->
<div class="w3-content w3-justify w3-text-grey w3-padding-36" id="about">

    <h2 class="w3-text-light-grey">About</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>BasqueFX serves several purposes. The first is to gain experience with python. This site was built using flask and a postgres database. I plan to add other features to this site. It really all depends on what I decide to learn next. BasqueFx is essentially a place for me to display my python projects. The second is that I want a place to store and display thoughts on the forex markets. 
    </p>
    <p>I have a Masters Degree in Economics so naturally I find the forex markets interesting. Specifically fundamental analysis. I find technical trading to be robotic and unsatisfying. I need to point out that I have very limited experience with forex trading. This is a place for me to store my ideas. If you happen to stumble across my site, please do not use anything I say in your trading. I'm not giving out trading advice, I'm just recording my thoughts.
    </p>
</div>
<!-- Contact ME Section -->
<div class="w3-padding-36 w3-content w3-text-grey" id="contact">
  <h2 class="w3-text-light-grey">Contact Me</h2>
  <hr style="width:200px" class="w3-opacity">

  <div class="w3-section">
    <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Austin, US</p>
    <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> basquefx@gmail.com</p>
    <p><i class="fa fa-twitter fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> <a href="https://twitter.com/basquefx" style="text-decoration: none;">BasqueFX</a></p>
  </div><br>

<!-- End Contact Section -->
<!-- Daily Forecast -->
{% for day in dailyget %}
<div class="w3-content w3-justify w3-text-grey w3-padding-48" id="forecast">
<h2 class="w3-text-light-grey">Daily Forecast: {{ day.entry_date }}</h2>
<hr style="width:200px" class="w3-opacity">


  <p class="w3-wide" style="font-weight: bold; color: white;">Strong Strong: {{ day.strong_cur }}</p>
  <div>
<p>
{{ day.strong_reason }}
</p>
  </div>
  <p class="w3-wide" style="font-weight: bold; color: white;">Weak Currency: {{ day.weak_cur }}</p>
  <div>
<p>
{{ day.weak_reason }}</p>
  </div>
  <p class="w3-wide" style="font-weight: bold; color: white;">Notes</p>
  <div>
<p>
{{ day.consider_reason }}</p>
  </div>
<br>
  {% endfor %}



</div>
{%endblock%}
